

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@font-face {
  font-family: "Bebas";
  src: url("/font/Retro\ Stereo\ Wide.ttf") format("truetype");
}
.fontedropmenu{
  font-family: 'Lexend+Deca', sans-serif; /* Aplicando a fonte Inter */
  font-size: 18PX;
}
.fontegeral {
  font-family: 'Lexend+Deca', sans-serif; /* Aplicando a fonte Inter */
  font-size: 25PX;
}
.aprovimgloc{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    
}
.botaoalugar {
  position: relative;
  
  height: 100vh; /* Garante que o container ocupe toda a altura da viewport */
}

.botaoalugar button {
  
  background-color: #fc1722;
  cursor: pointer;
  position: absolute;
  top: 1%;
  transform: translateY(-50%);
  margin-bottom: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 55px;
  background-color: #e50914;
  color: #fff;
  width: 100%;
  height: 45px;
  margin-top: 25px;


}

.footer{
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.cadastro_body button {
  margin-top: 25px;
  height: 45px;
  width: 100%;
  color: #fff;
  background-color: #e50914;
  border-radius: 55px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  margin-bottom: 10px;
}

.cadastro_body button:hover {
  background-color: #fc1722;
  cursor: pointer;
}
.descfilmes{
  text-align: justify;
}
@font-face {
  font-family: "Retro Stereo Wide";
  src: url("../font/Retro\ Stereo\ Wide.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas-Regular";
  src: url("../Projeto-Locadora-/font/Bebas-Regular.ttf")
    format("truetype");
}
#titulosite {
  font-family: "Retro Stereo Wide", sans-serif;
  font-size: 40px;
}

body {
  background-color: #1a1a1a;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}
h1 {
  color: #fc0303;
  text-align: center;
}
h2 {
  color: #fff;
  text-align: center;
}
h3 {
  color: #fff;
  text-align: center;
}

.cor1 {
  background-color: #1a1a1a;
}
.navbar-expand-lg{
  text-align: right;
  
}

.navbar-toggler-icon {
  
  background-color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #fc0303;
}

.btn-custom {
  background-color: #fc0303;
  border-color: #fc0303;
  color: #fff;
}

.btn-custom:hover {
  background-color: #fff;
  border-color: #fc0303;
  color: #fc0303;
}

.dropdown-item {
  color: #000;
  background-color: #fff;
}

.dropdown-item:hover {
  background-color: #fc0303;
  color: #fff;
}

.container-fluid {
  padding: 0;
}

.container {
  margin-top: 20px;
}

.carousel-item img {
  border-radius: 10px;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.img_infos_filmes {
  text-align: center;
}

.avengers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px; /* Ajuste conforme necessário */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.img {
  flex: 0 0 50%; /* Ajuste conforme necessário */
}

.texto {
  flex: 0 0 50%; /* Ajuste conforme necessário */
  padding-left: 20px; /* Espaçamento entre a imagem e o texto */
}

.texto h2 {
  margin-top: 0;
}

.texto p {
  margin-bottom: 0;
}
